{% extends 'base.html' %}

{% block content %}
<h2 style="text-align: center"> {{ search | title}}</h2>
<div class="container">

    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <img src="https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwiF3rDck53nAhVLhOAKHbaZC6IQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.flickr.com%2Fphotos%2F27587002%40N07%2F5170590074&psig=AOvVaw2Fx3ZGaPk_BCFZFK294hhy&ust=1579986805695813">
                    <span class="card-title">Card Title</span>

                </div>
                <div class="card-content">
                    <p>Test</p>
                </div>
                <div class="card-action">
                    <a href="/">TEST PRICE</a>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}
